@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat:wght@500&family=Poppins&family=Raleway:wght@100&display=swap");
* {
  font-family: "Poppins";
  overflow-x: hidden;
  background-color: #edf2fb;
  margin: 0;
  padding: 0;
}

.header {
  display: inline-flex;
}

.logo {
  width: 20%;
  margin: 10px;
  padding-bottom: 20px;
  padding-right: 300px;
  padding: 20px;
  padding-right: 185px;
  font-size: 25px;
}

.nav {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 20px;
  width: 700px;
  padding: 10px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.mobile_nav_icon {
  display: none;
}

.nav_style {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bolder;
  font-size: large;
}

.nav_style:hover {
  color: white;
  background-color: #1e90ff;
  border-radius: 10px;
  width: 100px;
  padding: 5px;
  text-align: center;
  font-weight: bolder;
  font-size: large;
}

/* Container styles */
.hero_container,
.project_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  /* height: 50vh; */
  /*border*/
  width: 95%;
  margin-top: 20px;
}

.aboutme_container, .skills_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 30px;
  height: 50vh;
  /*border*/
  width: 95%;

  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  margin: 0 auto; /* Added to horizontally center the container */
  /* border: 0.5px solid black; */
 
}

/* Text styles */
.hero_text {
  width: 50%;
  height: 70%;
  line-height: 1.5;
  text-align: center;
  padding: 10px;
  margin: 10px;
 
}

.aboutme_text {
  width: 60%;
  height: 70%;
  line-height: 1.7;

  padding: 10px;
  margin: 20px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  float: right;
  overflow: hidden;
}

.social_links button {
  background: none;
  background-color: #1e90ff;
  border-radius: 10px;
  width: 200px;

  padding: 10px;
  font-weight: bolder;
  font-size: large;
  margin: 20px;
  text-align: center;

  background-color: #1e90ff;
  color: black;
  
}

.social_links button:hover {
  text-decoration: none;
  background-color: #edf2fb;
  color: black;

  border-radius: 10px;

  color: black;
  text-align: center;
}

.social_links a {
  background-color: #1e90ff;
  border-radius: 10px;

  color: pink;
  text-decoration: none;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
}

.video_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 100%;
  width: 100%;
  flex-direction: column;
  margin: 0 auto; /* Added to horizontally center the container */
}

.project_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 30px;
  height: 100%;

  margin: 0 auto; /* Added to horizontally center the container */
}

.card{
  width: 70%;
  height: 70%;
  line-height: 1.5;
  text-align: center;
  padding: 10px;
  margin: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card p{
  margin: 10px;
}

.mobile-nav__list {
  display: none;
}

.img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
 
  width: 70%;
  flex-direction: column;
 
  margin: 20px;
}

/*<----------------------------------------- Animation from UIverse ------------------------------------------->*/

.loader {
  width: 200px;
  height: 112px;
  margin-top: 20px ;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  
  padding: 40px;
 

}

.box1,
.box2,
.box3 {
  border: 16px solid #1e90ff;
  box-sizing: border-box;
  position: absolute;
  display: block;
}

.box1 {
  width: 112px;
  height: 48px;
  margin-top: 64px;
  margin-left: 0px;
  animation: abox1 4s 1s forwards ease-in-out infinite;
}

.box2 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 0px;
  animation: abox2 4s 1s forwards ease-in-out infinite;
}

.box3 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 64px;
  animation: abox3 4s 1s forwards ease-in-out infinite;
}

@keyframes abox1 {
  0% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  75% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 0px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
}

@keyframes abox2 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  50% {
    width: 112px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }
}

@keyframes abox3 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  25% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 64px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  100% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
}

/*<-----------------------------------------End ---------------------------------------------------------------->*/
@media (max-width: 390px) {
  .nav {
    display: none;
  }

  .nav_style {
    display: none;
  }

  .mobile_nav {
    display: flex;
    flex-direction: column;
  }

  .mobile-nav__item {
    margin-top: 10px;
   
    text-align: center;
    margin-right: 70px;
    margin-bottom: 10px;
   overflow: hidden;
    background-color: black;
  }

  .mobile-nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
    /* background-color: black; */
    background-color: black;
  }

  .mobile-nav__link {
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bolder;

    padding: 10px;
    background-color: black;
    overflow: hidden;
  }

  .hero_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;
  
    width: 80%;
  }

  .hero_image {
    width: 100%;
    border-radius: 50%;
    margin: 20px;
    border: 2px solid black;
  }

  .mobile_nav_icon {
    display: flex;
    margin-top: 10px;
    width: 15%;
  }

  .hero_text {
    width: 90%;
    height: 70%;
    margin: 20px auto;
    overflow: hidden;
   
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    width: 100%;
  }

  .project_container, .aboutme_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    width: 80%;
   

    margin: 0 auto; 
  }

  iframe {
    width: 80%;
    height: 100%;
  }

  h3{
    text-align: center;
    margin:0 auto;
  }

 
 

  .skills_container{
   padding: 10px;
   border: '1px solid black';
  }

  .img_container{
    width: 100%;
    height: 100%;
    margin: 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }

  .card{
    width: 100%;
  }
  
}
